<div class="container">
    <form #form="ngForm" (ngSubmit)="createTire()">
        <mat-form-field class="form">
            <div>
                <mat-label for="name">Name: </mat-label>
                <input matInput placeholder="Ex. Yokohama" name="name" [(ngModel)]="newTire.name">
            </div>
            <mat-divider></mat-divider>
            <div>
                <mat-label for="price">price: </mat-label>
                <input matInput placeholder="Ex. $499.99" name="price" [(ngModel)]="newTire.price">
            </div>
            <mat-divider></mat-divider>
            <div>
                <mat-label for="description">Description: </mat-label>
                <textarea matInput placeholder="Ex. This tire has great tread!" name="description" [(ngModel)]="newTire.description"></textarea>
            </div>
            <mat-divider></mat-divider>
            <div>
                <mat-label for="imageURL">Image URL: </mat-label>
                <textarea matInput placeholder="Ex. http://www.unsplash.com" name="imageURL" [(ngModel)]="newTire.imageURL"></textarea>
            </div>
            <mat-divider></mat-divider>
            <div>
                <mat-label for="warranty">Warranty Info: </mat-label>
                <textarea matInput placeholder="Ex. This tire has a 60,000 mile Warranty for any tire tread damage. Sidewall damage is not covered." name="warranty" [(ngModel)]="newTire.warrantyInfo"></textarea>
            </div>
        </mat-form-field>
    </form>
    <div>
        <button mat-stroked-button [routerLink]="['/products']">Back</button>
        <button mat-stroked-button (click)="createTire()">Submit</button>
    </div>
</div>
    
