.container{
    text-align: center;
    padding-top: 15px;
}
.form{
    width: 80%;
    border: 2px solid black;

}
button{
    margin:10px 45px;
    padding:auto;
    background-color: coral;
}
div{
    margin: 20px 10px;
}
textarea{
    resize:vertical;
}
mat-label{
    color:orangered;
}