.container {
    background-color: black;
    height: 100%;
    padding: 20px 0px;
}
.tires {
    max-width: 400px;
    margin:25px auto;
    background-color: rgb(151, 151, 151);    
}
.head h1 {
    text-align: center;
    margin-top: 25px;
    font-size: xx-large;
    font-weight: 800;
    text-decoration: underline;
    color: orangered;
}
.details {
    background-color: rgb(151, 151, 151);
    padding: 25px 20px;
    max-height: 60px;
}

.divOne {
    display: inline-flex;
    flex-wrap:wrap-reverse;
    background-color: black;
}
.divOne img {
    border-bottom: 5px solid rgb(255, 255, 255);
}
.tires {
    
}
.btn {
   justify-content: center; 
   background-color: rgb(151, 151, 151);
}
.topBtn{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}
.topBtn button{
    /* margin-left: 25px; */
    margin-right: 50px;
    color: goldenrod;
    background-color: rgb(63, 72, 81);
    text-shadow: 1.2px 1.2px black;
}
.btn button {
    margin:10px 45px;
    padding:auto;
    background-color: coral;
}
mat-divider{
    border: 1px solid rgb(255, 255, 255);
    margin: 0 15px;
}